.knob-container, .encoder-container {
    --color-pips: var(--color-custom);
    --color-gauge: var(--color-custom);
    --color-knob: var(--color-custom);
    padding: 1rem;

    width: 100rem;
    height: 120rem;
    align-items: center;
    .input {
        // display: none!important;
    }
}

.knob {
    height:100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;

    > .input {
        height: 25rem;
        flex:initial!important;
        flex-shrink: 0!important;
        display: block;
        background: transparent!important;
        border: 0!important;
    }

    &.compact {
        > .input {
            pointer-events: none;
            position: absolute;
            border:0;
            background:transparent;
            overflow: hidden;
            position: absolute;
            top:50%;
            left:50%;
            z-index: 1;
            width: 100rem;
            height: 30rem;
            margin-left:-50rem;
            margin-top:-15rem;
        }
    }

    .wrapper {
        overflow: hidden;
        flex: 1 1 100%;
        max-height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        touch-action: none;
        canvas {
            width: 100%;
            position: relative;
            pointer-events: none;
            image-rendering: pixelated;
        }
    }

}

.encoder-container {

    --color-gauge: transparent;

}

.encoder {

    height:100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .wrapper {
        overflow: hidden;
        flex: 1 1 100%;
        max-height: 100%;
        width: 100%;
        position: relative;
        display: flex;
    }

    .input {
        display: none;
    }

    .display-knob {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        pointer-events: none;
    }

    .drag-knob {
        opacity: 0;

        // safari fix
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
}
