@import 'reset';

@import 'scrollbars';

@import 'layout';
@import 'notifications';

@import 'editor';
@import 'sidepanel';
@import 'widgets';

input,
textarea,
{
    caret-color: var(--color-custom);
}

input:focus::selection,
textarea:focus::selection,
{
    background:var(--color-custom);
    color:var(--color-text);
}
input {
    cursor: text;
}




.fa {
    font-weight: 900;
}

html, body {
    height:100%;
    position:relative;
    overflow:hidden;
    overscroll-behavior: none;
}

html{
    // global pixel scaling
    font-size: 1px;

    // prevent android's auto font-resize
    max-height: 999999px;
}

body {
    color:  var(--color-text);
    white-space:nowrap;
    opacity:1;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size:11rem;
    line-height:100%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.btn {
    background: var(--color-raised);
    display: block;
    padding:15rem;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 1rem var(--color-light) inset;
    &.small {
        padding:8rem;
        padding-right: 15rem;
    }
    &.tiny {
        padding:6rem;
    }
    &.warning {
        background:firebrick;
    }
    &.disabled {
        pointer-events: none;
        color:var(--color-text-fade);
    }
    &.align-center {
        text-align: center
    }
}










#lobby {
    background: var(--color-bg);
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding:20rem;

    .main {
        width:600rem;
        max-width: 100%;
        max-height:100%;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: opacity .1s;
        &.show {
            opacity: 1;
            overflow: auto;
        }
    }
    .list {
        overflow: auto;
        background: var(--color-fg);
        border-top:2rem solid var(--color-bg);
        text-transform: none;
        font-weight: 500;
        flex: 1 1 auto;
        a {
            &:focus {
                &:after {
                    content:"";
                    position: absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                    background: var(--color-accent);
                    opacity: 0.1;
                }
            }
        }
    }
    .header {
        padding:22rem 20rem 20rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-grow: 0;
        background-color: var(--color-fg);
        color:var(--color-accent);
        letter-spacing: 1rem;
        font-size: 12rem;
        background:var(--color-raised);
        box-shadow: 0 0 0 1rem var(--color-light) inset;
    }
    .footer {
        background: var(--color-fg);
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-grow: 0;
        border-top:2rem solid var(--color-bg);
        a  {
            background:var(--color-raised);
            &:focus {
                &:after {
                    content:"";
                    position: absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                    background: var(--color-accent);
                    opacity: 0.1;
                }
            }
        }
    }
    a {
        display: block;
        overflow: hidden;
        padding:17rem;
        padding-right:39rem;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: none;
        border-bottom:1rem solid var(--color-bg);
        em {
            pointer-events: none;
        }
        &:last-child {
            border-bottom:0;
        }
        span {
            position: absolute;
            right:0rem;
            top:0rem;
            padding:17rem;
            color:var(--color-text-fader);
            z-index: 1;
            &:hover {
                color:var(--color-accent);
            }
            i {
                pointer-events: none;
            }
        }
    }
}


#launcher {
    overflow: initial;

    body {
        background: var(--color-fg);
        overflow: auto;
    }

    .form {
        padding:8rem;
        padding-top:58rem;
        position: relative;
        width: 100%;
        background: var(--color-fg);
        overflow: hidden;
        opacity: 0;
        transition: opacity .25s;
        &.loaded {
            opacity: 1;
            overflow: auto;
        }
    }
    .item-wrapper {
        // margin-bottom:4rem;
        label {
            min-width:98rem;
        }
        .input-wrapper {
            position: relative;
            // height: 28rem;
            // overflow: hidden;
            // margin: 0;
            box-shadow: none;

            .clear {
                padding:0;
                height:26rem;
                width: 26rem;
                line-height: 26rem;
                text-align: center;
                position: absolute;
                right:1rem;
                top:2rem;
                background: none;
                opacity: .7;
                box-shadow: none;
            }
            input {
                padding-right:35rem;
                box-shadow: none;
            }
            input[value="true"] {
                color: inherit;
            }
            input[disabled] {
                color:var(--color-accent);
            }
            .checkbox {
                right: 30rem;
                &.disabled {
                    pointer-events: none;
                    &.on i {
                        color:var(--color-text-fade);
                    }
                }
            }
        }
        .error-msg, .restart-msg {
            transition: height .25s;
            height: 0rem;
            white-space:normal;
            padding: 0 4rem;
            margin-left:1rem;
            text-transform: none;
        }
        &.error, &.restart {
            .error-msg {
                height: 28rem;
                line-height: 28rem;
                background: rgba(red,0.25)
            }
            .restart-msg {
                height: 28rem;
                line-height: 28rem;
                background: rgba(orange,0.25)
            }
        }
    }
    .header {
        position: fixed;
        top:8rem;
        left:8rem;
        right:8rem;
        background: var(--color-fg);
        border: 1rem solid var(--color-bg);
        margin-bottom: -1rem;
        color: var(--color-accent);
        cursor: default;
        z-index: 2;
        box-shadow: none;
        box-shadow: 0 0 0 1rem var(--color-light) inset,
                    0 -8rem 0 0 var(--color-fg);
        padding: 16rem 15rem 14rem;

        #title {
            text-transform: uppercase;
            letter-spacing: 1rem;
            font-size: 12rem;
            line-height: 12rem;
        }

        #version {
            opacity: .5;
            text-transform: none;
        }


        #new-version {
            color:yellow;
            cursor: pointer;
            float:right;
        }
    }
    .start {
        border: 1rem solid var(--color-bg);
        z-index: 1;
        margin-top: 8rem;
        &:after {
            content:"";
            position: absolute;
            top:0;
            left:0;
            right: 0;
            bottom:0;
            box-shadow: 0 0 0 1rem var(--color-light) inset;
            pointer-events: none;
        }
        &.disabled {
            opacity: .5;
        }
        &.started {
            color:#fff;
            cursor: default;
            a {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &.started:before {
            content:"";
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color: var(--color-accent);
            opacity: 0.25;
            z-index: -1;
        }
    }
    .save {
        float:left;
        width:97rem;
        border-right: 0;
        &:before {
            transition: opacity .5s;
            content:"";
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color: var(--color-accent);
            opacity: 0;
            z-index: -1;
        }
        &.saved:before {
            transition: none;
            opacity: 0.25;

        }
    }

    .terminal {
        margin-top: 8rem;
        background: var(--color-bg);
        font-family: 'RobotoMono';
        text-transform: none;
        padding:3rem;
        border:2rem solid var(--color-bg);
        letter-spacing: normal;
        cursor: auto;
        flex:1;
        height: auto;
        min-height: 50rem;

        div {
            user-select:text;
            width: 100%;
            white-space: pre-line;
            word-wrap: break-word;
            text-indent: -10px;
            padding-left: 10px;
            margin-top: 4rem;
        }
        .log {
        }
        .error {
            color: rgba(255, 150, 50, 1)
        }
    }
}










#loading {
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-15rem;
    margin-top:-15rem;
    text-align: center;
}

.spinner {
    display: block;
    margin: 0 auto;
    height:36rem;
    width:36rem;
    border-radius: 50%;
    border:5rem solid var(--color-light);
    position: relative;

    &:before {
        content:"";
        position: absolute;
        left:-4rem;
        top:-4rem;
        right:-4rem;
        bottom:-4rem;
        border:4rem solid var(--color-bg);
        border-radius: 50%;
    }
    &:after {
        content:"";
        position: absolute;
        left:-3rem;
        top:-3rem;
        right:-3rem;
        bottom:-3rem;
        border:2rem solid var(--color-track);
        border-top:2rem solid var(--color-accent);
        transform: rotateZ(0deg);
        animation: spin .5s linear infinite;
        border-radius: 50%;
    }
}

@keyframes spin {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}






.popup {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10%;
    align-items:center;
    justify-content: center;
    z-index:1000000;
    transform: translate3d(0,0,0);
    display: none;
    &.show {
        display: flex;
    }
    &:before {
        content: "";
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:var(--color-bg);
        opacity: .5;
    }
    .popup-title {
        position: relative;
        background:var(--color-raised);
        border-bottom: 1rem solid var(--color-bg);
        box-shadow: 0 0 0 1rem var(--color-light) inset;
        height:46rem;
        flex-shrink: 0;
        display: flex;
        padding:0 15rem;
        align-items: center;
        .title {
            flex:1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        i {
            margin-right: 5rem;
        }
        &.closable {
            padding-right: 0;
        }
        .popup-label {
            flex:1;
        }
        .closer {
            padding:0 15rem;
            height: 100%;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            text-align: center;
            color:var(--color-text-fade);
            cursor: pointer;
            i {
                pointer-events: none;
            }
        }
    }
    .popup-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width:auto;
        max-width:600rem;
        max-height: 100%;
        position: relative;
        overflow: hidden;
        box-shadow: 1rem 0 0 0 var(--color-bg),
                    0 1rem 0 0 var(--color-bg),
                    1rem 1rem 0 0 var(--color-bg),
                    0 1rem 0 0 var(--color-light) inset;
        border-left:1rem solid var(--color-bg);
        border-top:1rem solid var(--color-bg);
        .popup-content {
            height:100%;
            width:100%;
            flex:1;
            padding:10rem;
            overflow-y:auto;
            white-space: normal;
            background:var(--color-fg);
            box-shadow: 0 0 0 1rem var(--color-light) inset;
            text-transform: none;
            position: relative;
        }
    }
}

.error-stack {
    > span {
        background: none!important;
        color: inherit!important;
    }
    padding:10rem;
    user-select:initial;
    cursor: initial;
    * {
        user-select:initial;
        cursor: initial;
    }
    overflow:auto;
    background: var(--color-bg);
    white-space:pre;
    font-family: monospace;
    font-weight:bold;
}

.translation-missing {
    color: #ff00ff;
}

.fa-osc:before {
    content:"\f111";
    color: transparent;
    background-image: url(../assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.file-browser {
    width: 540px;
    height: 360px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    .ariane {
        height: 40rem;
        flex-shrink: 0;
        line-height: 40rem;
        padding-left: 10rem;
    }
    .file-list {
        overflow-y: auto;
        flex:1;
        background: var(--color-bg);
        padding: 0 10rem;
    }
    .file {
        position: relative;
        height: 40rem;
        line-height: 40rem;
        input {
            position: absolute;
            width:100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        .label {
            position: absolute;
            width:100%;
            height: 100%;
            pointer-events: none;
            white-space: nowrap;
            span {
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        input:checked + .label {
            color: var(--color-custom);
            &:before {
                content:"";
                position: absolute;
                left:-10rem;
                right:-10rem;
                height: 100%;
                background: var(--color-custom);
                opacity: 0.1;
            }
        }
    }
    .file-actions {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        height: 40rem;
        flex-shrink: 0;
        margin-top: 10rem;
        div {
            margin-left: 10rem;
            text-transform: uppercase;
            text-overflow: clip;
        }
        i {
            pointer-events: none;
        }
        .save-as {
            flex:1;
            height: 40rem;
            line-height: 40rem;
            border: 0;
            padding: 0 10rem;
            font-size: 120%;
            top: -1rem;
            position: relative;
            background: var(--color-bg);
            &[disabled] {
                pointer-events: none;
            }
        }
    }
}

@import 'themes/default';
